In [2]:
# Import package.
import pandas as pd

# Read CSV file from the current working directory.
movies = pd.read_excel('movies.xlsx')

# View the DataFrame.
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [6]:
# Import the ott data set
ott = pd.read_csv('ott.csv')

# View the DataFrame
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [3]:
# Number of missing values.
movies['Age'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
16739     True
16740    False
16741     True
16742     True
16743     True
Name: Age, Length: 16744, dtype: bool

In [4]:
# Sum of missing values.
movies['Age'].isnull().sum()

9390

In [7]:
# Replace the missing values in Age column with a set value
movies['Age'][movies['Age'].isna()] = 'Others'

C:\Users\opanj\AppData\Local\Temp\ipykernel_2000\1698102451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'

In [8]:
# Replace the missing values in the directors, genres, country and language with others
movies['Directors'][movies['Directors'].isna()] = "Others"

movies['Genres'][movies['Genres'].isna()] = "Others"

movies['Country'][movies['Country'].isna()] = "Others"

movies['Language'][movies['Language'].isna()] = "Others"

# View the DataFrame
movies

C:\Users\opanj\AppData\Local\Temp\ipykernel_2000\897861612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = "Others"
C:\Users\opanj\AppData\Local\Temp\ipykernel_2000\897861612.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = "Others"
C:\Users\opanj\AppData\Local\Temp\ipykernel_2000\897861612.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = "Others"
C:\Users\opanj\AppData\Local\Temp\ipykernel_2000\897861612.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = "Others"

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,0,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,0,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,0,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,0,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [9]:
# Missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

571
11586

In [10]:
# Replace missing values with mean
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

In [11]:
# View the missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

0
0